=content_for :secondary_content do
  =render :partial => 'main/recent_events', :locals => {:events => @recent_events}
.center
  -if @video && @video.event
    %h3
      Featured Video
    %span.small
      from
    =link_to @video.event.display_name, event_path(@video.event)
    .video-frame
      -unless @video.youtube_code.blank?
        =render :partial => 'videos/youtube_player', :locals => {:video => @video}
      -else
        -if @player == "flash" || (@p.browser == "Firefox" && @p.browser_version_major.to_i < 4)
          #flash_player
            =render :partial => 'videos/video_player', :locals => { :video => @video }
        -else
          #html5_player
            =render :partial => 'videos/video_player_html5', :locals => { :video => @video }
    .video-title
      =link_to @video.title, video_path(@video)
      -if session.user && session.user.admin?
        =link_to edit_image_tag, edit_admin_video_path(@video)
    .video-presenters
      =display_presenters_with_links @video
    .video-abstract
      =RDiscount.new(@video.abstract).to_html
    .clear
  -else
    There are no featured videos available at this time.
.standout_video_header
  Top 
  =@limit.to_i.to_words
  most viewed videos - last seven days
=render :partial => 'videos/standout', :collection => @last_7, :locals => { :days => 7 }
.standout_video_header
  Top
  =@limit.to_i.to_words
  most viewed videos - last 30 days
=render :partial => 'videos/standout', :collection => @last_30, :locals => { :days => 30 }
.standout_video_header
  Top
  =@limit.to_i.to_words
  most viewed videos - all time
=render :partial => 'videos/standout', :collection => @all_time, :locals => { :days => 0 }
.clear