%h1 Video Recording Services
.pitch
  %p
    If you're looking for quality audio/video recording services for your event then you should contact us!  With over five years experience in this business we have evolved our technology and process year over year, and continue to do so.
  %p
    If you want worry free recording of your event and want to focus on your content and your attendees, and not A/V contact us!
  %p
    For a discussion about engaging us to help make your next event more memorable, after all video far exceeds our individual recall, please email us at 
    =link_to "staff@confreaks.com","mailto:staff@confreaks.com"
    , and we'll be happy to discuss the details of your event and what we need to do to make sure that it is presereved.
  %p
  Sincerely,
  %br
  \-Coby Randquist
.testimonials
  %h2
    Testimonials
  .testimonial
    .quote
      %p
        I've worked with Confreaks from the very beginning. We used Confreaks to record the very first MountainWest RubyConf conference, and MWRC was the very first conference Cobfreaks recorded. We have grown up together.
      %p
        I can't say enough good things about the contribution Confreaks has made to our conference and community. I have talked to several people from all over the world and from all walks of life that have been positively impacted because of the information made available on Confreaks' site. They are wonderful stewards of our shared knowledge.
    .author
      =link_to 'Mike Moore', 'http://twitter.com/blowmage', :target => "_blank"
      .title
        Organizer
        = link_to "Mountain West RubyConf", "http://mtnwestrubyconf.org"
    .clear
