-unless video.license.blank?
  .video-license
    %div{ "xmlns:cc" => "http://creativecommons.org/ns#" }
      This presentation, by
      =display_presenters_with_external_links(video)
      , is licensed under a
      =link_to video.license_title, video.license_url, :rel => "license"
      -if video.license_image_file_url
        %br
        %a{ :rel => "license", :href => video.license_url }
          =image_tag(video.license_image_file_url)
-unless video.attribution.blank? && !video.use_event_note_for_attribution
  .video-attribution
    -if video.use_event_note_for_attribution
      =video.event.notes
    -else
      =video.attribution