.standout_video
  .conference
    =link_to standout.event.display_name, event_path(standout.event)
  .title
    =link_to standout.title, video_path(standout)
  .image
    =link_to image_tag(standout.image.url(:thumb)), video_path(standout), :class => 'noborder'
  .presenter
    =link_to standout.display_presenters, video_path(standout)
  .views
    =number_with_delimiter(standout.views_for(days))