-content_for :title do
  ="#{@event.display_name} Schedule - Confreaks, LLC"
.center
  #conflogo
    =link_to image_tag(@event.logo.url(:original), :alt => @event.display_name, :title => @event.display_name), @event.url, :class => "noborder"
  #confnotes
    %em
      =RDiscount.new(@event.notes || '').to_html
  %p.right
    Total views:
    =number_with_delimiter(@event.available_videos.collect(&:views).sum)
    %br
    =link_to 'All Events', events_path
    -if @event.conference.events.count > 1
      %br
      =link_to 'Other Conference Events', @event.conference
  .video-twitter
    =link_to 'Tweet', 'http://twitter.com/share', :class => 'twitter-share-button', 'data-text' => "See the available videos for ##{@event.short_code}", 'data-count' => 'vertical', 'data-via' => 'confreaks'
    =javascript_include_tag 'http://platform.twitter.com/widgets.js', :type => 'text/javascript'
    %br
    = render :partial => 'shared/google_plus_one'
  %h2
    =@event.display_name
    Schedule
  ="(#{@event.available_videos.count} presentations available"
  )
  %p
    -if params[:sort] == 'post'
      =link_to 'Sort by Date Presentations occurred', event_path(@event)
    -else
      =link_to 'Sort by Date Posted', event_path(@event, :sort => 'post')
.clear
.videos
  =render :partial => 'videos/video', :collection => @videos